Repository AI-smart-cart-PICKLE/AI-smart-cart-PICKLE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-ai, build-airflow

build-backend:
  stage: build
  image: docker:24.0.5
  services:
  - name: docker:24.0.5-dind
    alias: docker
    command:
    - --tls=false
  variables:
    DOCKER_HOST: tcp://docker:2375
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
  ...

build-ai:
  stage: build
  image: docker:24.0.5
  services:
  - name: docker:24.0.5-dind
    alias: docker
    command:
    - --tls=false
  variables:
    DOCKER_HOST: tcp://docker:2375
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
  - echo "Building AI with Cache..."
  ...

build-airflow:
  stage: build
  image: docker:24.0.5
  services:
  - name: docker:24.0.5-dind
    alias: docker
    command:
    - --tls=false
  variables:
    DOCKER_HOST: tcp://docker:2375
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
  ...

deploy: GitLab CI/CD 빌드 최적화 - 매번 중복으로 실행되는 docker pull 명령어 제거
  .gitlab-ci.yml
Due: none

fix: 배포 환경 디버깅 - MinIO 내부 PORT 오픈 - nginx 설정에서 / 삭제 - Airlfow 접근 Base URL 환경 변수 주입
  docker-compose.yml
  nginx-ssl-prod.conf
Due: build-backend, build-ai, build-airflow

feat: 결제 승인 기반 가계부 생성 API 추가
  backend/app/routers/ledger.py
Due: build-backend

feat: 토큰 재발급 기능 구현
  backend/app/main.py
  backend/app/routers/auth.py
  backend/app/routers/user.py
  backend/app/utils/jwt.py
Due: build-backend

feat: 정보 조회 및 정보 수정 기능 구현
  backend/app/dependencies.py
  backend/app/routers/user.py
  backend/app/schemas.py
Due: build-backend

feat: 로그아웃 기능 구현
  backend/app/routers/user.py
Due: build-backend

feat: 회원탈퇴 기능 구현
  backend/app/dependencies.py
  backend/app/models.py
  backend/app/routers/user.py
  backend/app/schemas.py
Due: build-backend

fix: 버그 수정
  backend/app/models.py
  backend/app/routers/payment.py
Due: build-backend

deploy: 배포 설정 수정 - DB PORT 오픈 - MINIO 관련 환경 변수명 통일
  .gitlab-ci.yml
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

feat: 결제 수단 기능 구현(등록,조회,삭제)
  backend/app/routers/payment.py
Due: build-backend

deploy: 개발-배포 환경 설정 통일 - 로컬에 가짜 SSL인증서 발급 - 환경 변수로 로컬 인증서 경로 제어 - gitignore 및 dockerignore에 인증서 경로 및 하위 경로 .env 추가
  .gitignore
  backend/.dockerignore
  docker-compose.yml
  nginx-ssl-prod.conf
Due: build-backend, build-ai, build-airflow

refactor: 결제 API 코드 정리 및 user_id 의존성 분리
  backend/app/routers/payment.py
Due: build-backend

feat:docker compose ports설정
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

deploy: airflow/mlflow 서버 환경 접속 오류 디버깅 - 컨테이너가 새로 뜰 때 주소 변경 사항을 감지하기 위해 nginx에 DNS resolver 추가
  .gitlab-ci.yml
  nginx-ssl-prod.conf
Due: none

chore: backend 환경 변수 GitLab CI/CD variables로 추가
  .gitlab-ci.yml
Due: none

feat: 비밀번호 재설정 기능 구현 (SMTP blocked in SSAFY env)
  backend/app/models.py
  backend/app/routers/auth.py
  backend/app/schemas.py
  backend/app/utils/email.py
Due: build-backend

feat: 모델 학습/추론 코드
  ai/inference/realtime_yolov8s.py
  ai/preprocessing/preprocess.py
  ai/training/train.py
Due: build-ai

feat: 결제 API에 로그인 인증(JWT) 연동 및 보안 적용
  backend/app/routers/payment.py
Due: build-backend

deploy: DooD 빌드 테스트 트리거
  .gitlab-ci.yml
Due: none

chore: Alembic 초기 마이그레이션 설정
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/cc259ae132ab_init.py
  backend/app/database.py
  backend/app/db/base.py
  backend/app/models.py
  backend/requirements.txt
Due: build-backend

fix: 마이그레이션 문제 해결
  backend/alembic/versions/cc259ae132ab_init.py
Due: build-backend

chore: .env 루트 디렉토리로 통합 - 백엔드 .env 삭제 - 환경 변수를 요구하는 각 컨테이너는 루트의 .env 파일을 공유
  .env.example
  backend/.env.example
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

feat: 결제 승인 이후 가계부 자동 생성 및 조회 연동
  backend/app/routers/ledger.py
Due: build-backend

feat: 장바구니-결제-가계부 연동 및 통합 테스트 완료
  backend/app/routers/cart.py
  backend/app/schemas.py
Due: build-backend

feat: 가계부 단건 조회 API 추가 (JWT 인증 및 본인 데이터 검증)
  backend/app/routers/ledger.py
Due: build-backend

feat: 가계부 단건 조회 및 수정 API 추가
  backend/app/routers/ledger.py
  backend/app/schemas.py
Due: build-backend

fix: 수량 설정
  backend/app/routers/cart.py
Due: build-backend

feat: 월별 가계부 요약 조회 API 추가
  backend/app/routers/ledger.py
Due: build-backend

feat : 구글 로그인 구현
  backend/app/core/config.py
  backend/app/routers/auth.py
  backend/app/schemas.py
  backend/requirements.txt
Due: build-backend

feat: 가계부 월별 캘린더 조회 및 요약 비율 기능 추가
  backend/app/routers/ledger.py
Due: build-backend

feat: 가계부 Top Categories 조회 API 추가
  backend/app/routers/ledger.py
Due: build-backend

feat: 가계부 Top Items 조회 API 추가
  backend/app/routers/ledger.py
Due: build-backend

feat: 카카오페이 결제 흐름 구현 및 검증 완료
  backend/tests/manual/check_db_data.py
  backend/tests/manual/test_payment_approve.py
  backend/tests/manual/test_payment_flow.py
Due: build-backend

feat: 가계부 최근 지출 내역 조회 API 추가
  backend/app/routers/ledger.py
Due: build-backend

chore: alembic 마이그레이션 설정 추가
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
Due: build-backend

conflict resolved
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/versions/45a09416681f_add_kakao_provider.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/auth.py
Due: build-backend

fix: KAKAO 계정 DB 수정
  alembic.ini
Due: none

conflict resolved
  backend/alembic/env.py
Due: build-backend

feat: AI 기반 레시피 추천 API 구현 및 라우터 분리
  backend/app/main.py
  backend/app/routers/cart.py
  backend/app/routers/recommendation.py
  backend/app/schemas.py
Due: build-backend

WIP: cart items list API
  backend/app/routers/cart.py
Due: build-backend

Path conditions:
  build-backend: any of: backend/**/*, docker-compose.yml
  build-ai: any of: ai/**/*, docker-compose.yml
  build-airflow: any of: mlops/**/*, docker-compose.yml
