Repository AI-smart-cart-PICKLE/AI-smart-cart-PICKLE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-ai, build-frontend, build-airflow

build-backend:
  stage: build
  image: docker:24.0.5
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
  - echo "Building Backend using Host Cache..."
  - 'docker build --build-arg BUILDKIT_INLINE_CACHE=1 -t $IMAGE_BACKEND ./backend
  
    '
  - docker push $IMAGE_BACKEND

build-ai:
  stage: build
  image: docker:24.0.5
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
  - echo "Building AI using Host Cache..."
  - 'docker build --build-arg BUILDKIT_INLINE_CACHE=1 -t $IMAGE_AI ./ai
  
    '
  - docker push $IMAGE_AI

build-frontend:
  stage: build
  image: node:20-alpine
  script:
  - echo "Building Frontend (Vue.js)..."
  - cd frontend/cart
  - npm ci
  - npm run build
  artifacts:
    paths:
    - frontend/cart/dist/
    expire_in: 1 hour

build-airflow:
  stage: build
  image: docker:24.0.5
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
  - echo "Building Airflow using Host Cache..."
  - 'docker build --build-arg BUILDKIT_INLINE_CACHE=1 -f mlops/airflow/Dockerfile -t $IMAGE_AIRFLOW ./mlops
  
    '
  ...

feat(frontend/cart): 웹 장바구니 화면 AI 추천 로직 고도화
  dummy_data_full.sql
  frontend/cart/src/components/RecommendationPanel.vue
  frontend/cart/src/stores/recommendation.js
Due: build-frontend

fix(frontend/cart): recommendation.js 문법 오류 수정
  frontend/cart/src/stores/recommendation.js
Due: build-frontend

fix(frontend/cart): 추천 트리거 로직 견고화 및 누락된 세션 정보 대응
  dummy_data_full.sql
  frontend/cart/src/components/RecommendationPanel.vue
Due: build-frontend

fix(recommendation): 로거 미정의로 인한 500 에러 수정 및 데이터 안정성 강화
  backend/app/routers/recommendation.py
Due: build-backend

chore: 포팅매뉴얼 업로드
  exec/porting_manual.md
Due: none

feat: Redis 도입 및 QR 인증 프로세스 최적화 (DB Polling 제거)
  backend/app/core/redis_client.py
  backend/app/routers/auth.py
  backend/requirements.txt
Due: build-backend

refactor: 추천 로직 Service Layer 분리 및 Fat Controller 개선
  backend/app/routers/recommendation.py
  backend/app/services/recommendation_service.py
Due: build-backend

feat: 예외 처리 핸들러 추가
  backend/app/core/exception_handlers.py
Due: build-backend

feat: Global Exception Handler 도입 및 표준 에러 응답 규격화
  backend/api_specification.csv
  backend/app/main.py
Due: build-backend

docs: README.md 파일 수정
  assets/architecture.png
Due: none

docs: update README.md
  README.md
Due: none

docs: Update README.md
  assets/cart_display.jpg
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  build-backend: any of: backend/**/*, docker-compose.yml
  build-ai: any of: ai/**/*, docker-compose.yml
  build-frontend: any of: frontend/**/*, docker-compose.yml
  build-airflow: any of: mlops/**/*, docker-compose.yml
