Repository AI-smart-cart-PICKLE/AI-smart-cart-PICKLE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-ai, build-frontend, build-airflow

Path conditions:
  build-backend: any of: backend/**/*, docker-compose.yml
  build-ai: any of: ai/**/*, docker-compose.yml
  build-frontend: any of: frontend/**/*, docker-compose.yml
  build-airflow: any of: mlops/**/*, docker-compose.yml

test: 전 컨테이너 재빌드 트리거
  docker-compose.yml
Due: build-backend, build-ai, build-frontend, build-airflow

fix: nginx dependancy에서 mlflow, airflow 제거
  docker-compose.yml
Due: build-backend, build-ai, build-frontend, build-airflow

fix: migration 파일 초기화
  backend/alembic/versions/2b87114328d5_add_cart_session_pairing_token.py
  backend/alembic/versions/3fd7de1c788e_add_camera_on_to_cart_session.py
  backend/alembic/versions/4977b62bd2e4_remove_cart_session_pairing_fields.py
  backend/alembic/versions/4e8c53bbb5bf_initial_migration.py
  backend/alembic/versions/5e709302d134_add_camera_view_on_to_cart_session.py
  backend/alembic/versions/82d52c882a35_make_zone_code_and_category_id_not_null.py
  backend/alembic/versions/e0e8a64d1b86_rename_camera_on_to_camera_view_on.py
Due: build-backend

fix: vite 빌드 rewrite 로직 제거 및 웹 frontend api 패턴 추가
  frontend/cart/src/api/axios.js
  frontend/cart/src/components/modals/CameraModal.vue
  frontend/cart/src/components/modals/LocationModal.vue
  frontend/cart/src/stores/auth.js
  frontend/cart/src/stores/cart.js
  frontend/cart/src/stores/recommendation.js
  frontend/cart/vite.config.js
  frontend/mobile-app/lib/features/account/repository/http_account_repository.dart
  frontend/mobile-app/lib/features/product/repository/http_product_repository.dart
  frontend/mobile-app/lib/features/recipe/repository/http_recipe_repository.dart
Due: build-frontend

fix: qr코드 연동 진행중
  frontend/cart/src/App.vue
  frontend/cart/src/views/PairView.vue
  frontend/mobile-app/lib/features/cart/presentation/qr_scanner_screen.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository_impl.dart
Due: build-frontend

feat:payment연동 및 oauth구현 , sql문
  backend/app/routers/payment.py
  backend/app/schemas.py
  database_init.txt
  export_code.py
  frontend/cart/src/components/CheckoutBar.vue
  frontend/cart/src/components/modals/CheckoutModal.vue
  frontend/cart/src/components/modals/PaymentQRModal.vue
  frontend/cart/src/stores/cart.js
  frontend/mobile-app/android/app/src/main/AndroidManifest.xml
  frontend/mobile-app/ios/Runner/Info.plist
  frontend/mobile-app/lib/core/router/app_router.dart
  frontend/mobile-app/lib/core/router/app_routes.dart
  frontend/mobile-app/lib/features/auth/presentation/login_screen.dart
  frontend/mobile-app/lib/features/auth/presentation/oauth_webview_screen.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository_impl.dart
  frontend/mobile-app/lib/features/cart/presentation/qr_scanner_screen.dart
  frontend/mobile-app/lib/features/payment/application/payment_service.dart
  frontend/mobile-app/lib/main.dart
  frontend/mobile-app/linux/flutter/generated_plugin_registrant.cc
  frontend/mobile-app/linux/flutter/generated_plugins.cmake
  frontend/mobile-app/pubspec.lock
  frontend/mobile-app/pubspec.yaml
  frontend/mobile-app/windows/flutter/generated_plugin_registrant.cc
  frontend/mobile-app/windows/flutter/generated_plugins.cmake
  full_db_init.sql
  project_code_summary.txt
  updated_erd_schema.txt
Due: build-backend, build-frontend

fix: ì 카트 모바일 연동 수정중
  backend/app/routers/cart.py
  backend/app/routers/user.py
  frontend/cart/src/views/PairView.vue
  frontend/mobile-app/lib/domain/models/cart.dart
  frontend/mobile-app/lib/features/account/presentation/my_page_screen.dart
  frontend/mobile-app/lib/features/cart/presentation/cart_providers.dart
  frontend/mobile-app/lib/features/cart/presentation/qr_scanner_screen.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository_impl.dart
  frontend/mobile-app/lib/features/home/presentation/home_dashboard_screen.dart
  frontend/mobile-app/lib/main.dart
Due: build-backend, build-frontend

fix: 연동
  frontend/mobile-app/lib/main.dart
Due: build-frontend

fix: qr 연동
  backend/app/routers/cart.py
  frontend/cart/.env.dev
  frontend/cart/src/api/axios.js
  frontend/cart/src/components/modals/LoginModal.vue
  frontend/cart/src/views/PairView.vue
  frontend/mobile-app/lib/features/cart/presentation/qr_scanner_screen.dart
Due: build-backend, build-frontend

fix: 연동
  backend/app/routers/cart.py
  frontend/mobile-app/lib/features/home/presentation/home_dashboard_screen.dart
Due: build-backend, build-frontend

fix: jwt secret key
  backend/app/core/config.py
  backend/app/utils/jwt.py
Due: build-backend

feat: 디버깅 코드
  backend/app/dependencies.py
  backend/app/routers/cart.py
Due: build-backend

로깅 레벨 설정
  backend/app/main.py
Due: build-backend

deploy: 프론트엔드 빌드 경로 변경하여 배포 환경 nginx 서빙 경로와 통일 - SECRET_KEY 환경 변수 추가
  .gitignore
  .gitlab-ci.yml
  docker-compose.yml
Due: build-backend, build-ai, build-frontend, build-airflow

merge: conflict resolved
  dummy_data_full.sql
Due: none

fix: 프론트엔드 빌드 파일 cp 로직 추가
  .gitlab-ci.yml
Due: none

fix: cd 시 migration 파일 삭제 및 재구성 - .gitignore에 migration 파일 추가
  .gitignore
  .gitlab-ci.yml
Due: none

test: 프론트엔드 빌드 트리거
  frontend/cart/src/api/axios.js
Due: build-frontend

fix: 프론트엔드 빌드 경로 수정
  frontend/cart/vite.config.js
Due: build-frontend

fix:cart 연동 해결 중..
  backend/app/main.py
  backend/app/routers/cart.py
Due: build-backend

Revert "Merge branch 'mobile' into 'master'"
  backend/app/main.py
  backend/app/routers/cart.py
Due: build-backend

fix: cart 연동2차...
  backend/app/routers/cart.py
  frontend/cart/src/stores/cart.js
  frontend/cart/src/views/DashboardView.vue
Due: build-backend, build-frontend

fitx: cart 연동 3차...
  backend/app/routers/cart.py
  frontend/cart/src/stores/cart.js
  frontend/cart/src/views/DashboardView.vue
Due: build-backend, build-frontend

feat: permanently remove login modal and fix session polling
  frontend/cart/src/views/DashboardView.vue
Due: build-frontend

fix: 키오스크 QR 연동 및 리다이렉트 오류 수정
  backend/app/routers/cart.py
  frontend/cart/src/stores/cart.js
Due: build-backend, build-frontend

test: 장바구니 업데이트 로직 완화
  ai/edge/cart_agent.py
Due: build-ai

feat: permanently remove login modal and fix session termination
  backend/app/routers/cart.py
  frontend/cart/src/App.vue
  frontend/cart/src/components/TheHeader.vue
  frontend/cart/src/stores/cart.js
  frontend/cart/src/stores/ui.js
Due: build-backend, build-frontend

fix: 엣지서버 의존성 boto3 추가
  ai/edge/Dockerfile
  ai/edge/requirements.txt
Due: build-ai

fix: 결제 바 담은 상품, 합계 금액 추가
  frontend/cart/src/components/CheckoutBar.vue
Due: build-frontend

feat: implement KakaoPay QR payment modal on web kiosk and disable auth for ready API
  backend/app/routers/payment.py
  frontend/cart/src/components/CheckoutBar.vue
  frontend/cart/src/components/modals/PaymentQRModal.vue
Due: build-backend, build-frontend

fix: _를 -로 변경
  backend/app/routers/cart.py
  frontend/cart/src/views/PairView.vue
Due: build-backend, build-frontend

fix: remove weight validation from payment ready API
  backend/app/routers/payment.py
  frontend/cart/src/views/PairView.vue
Due: build-backend, build-frontend

Revert "Merge branch 'mobile' into 'master'"
  backend/app/routers/payment.py
  frontend/cart/src/views/PairView.vue
Due: build-backend, build-frontend

엣지-서버 통신 latency 로깅 코드 추가
  ai/edge/cart_agent.py
  backend/app/routers/cart.py
Due: build-backend, build-ai

feat: remove weight validation and update UI theme
  backend/app/routers/payment.py
  frontend/cart/src/views/PairView.vue
Due: build-backend, build-frontend

test: 탐지 속도 최적화
  backend/app/routers/cart.py
  frontend/cart/src/views/DashboardView.vue
Due: build-backend, build-frontend

fix: resolve 500 error in payment ready API by removing invalid variable reference
  backend/app/routers/payment.py
Due: build-backend

test: 장바구니 업데이트 속도 최적화 - 오래된 사진 버퍼 삭제하고 최신 이미지만 사용
  ai/edge/cart_agent.py
Due: build-ai

feat: implement fully automated KakaoPay workflow for web kiosk
  backend/app/routers/payment.py
  frontend/cart/src/stores/cart.js
Due: build-backend, build-frontend

test: 장바구니 업데이트 속도 최적화 - 데이터 전송 비동기처리 - 버퍼 클리어 방식 변경
  ai/edge/cart_agent.py
Due: build-ai
