Repository AI-smart-cart-PICKLE/AI-smart-cart-PICKLE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-ai, build-frontend, build-airflow

Path conditions:
  build-backend: any of: backend/**/*, docker-compose.yml
  build-ai: any of: ai/**/*, docker-compose.yml
  build-frontend: any of: frontend/**/*, docker-compose.yml
  build-airflow: any of: mlops/**/*, docker-compose.yml

fix: robust KakaoPay approval with detailed logging and partner matching
  backend/app/routers/payment.py
Due: build-backend

fix: 카카오qr 결제창 크기 수정
  frontend/cart/src/components/modals/PaymentQRModal.vue
Due: build-frontend

fix: restore server by adding missing logger and finalize automated payment workflow
  backend/app/routers/payment.py
Due: build-backend

test: 장바구니 업데이트 속도 최적화 - 중복 요청 제거하여 큐에 요청이 쌓이지 않도록 수정
  frontend/cart/src/views/DashboardView.vue
Due: build-frontend

feat: simplify KakaoPay QR modal UI by removing header and footer
  frontend/cart/src/components/modals/PaymentQRModal.vue
Due: build-frontend

refactor: switch KakaoPay QR to popup window (remove iframe modal)
  frontend/cart/src/components/CheckoutBar.vue
  frontend/cart/src/components/modals/PaymentQRModal.vue
Due: build-frontend

test: 장바구니 업데이트 속도 최적화 - 상태 변화시 즉시 데이터 전송
  ai/edge/cart_agent.py
Due: build-ai

fix: enhance payment callback logging and query logic to resolve session mismatch
  backend/app/routers/payment.py
Due: build-backend

feat: 웹에서 선택한 추천 레시피 앱에 저장
  backend/app/models.py
  backend/app/routers/cart.py
  backend/app/schemas.py
  backend/scripts/insert_test_data.py
  backend/tests/manual/verify_kiosk_access.py
  frontend/cart/src/components/RecommendationPanel.vue
  frontend/cart/src/components/modals/RecipeDetailModal.vue
  frontend/cart/src/stores/recommendation.js
Due: build-backend, build-frontend

fix: resolve server 500 error by removing duplicate imports and cleaning up router code
  backend/app/routers/cart.py
Due: build-backend

fix: import 누락 에러 수정
  backend/app/routers/cart.py
Due: build-backend

refactor: clean up payment router and remove unused features
  backend/app/routers/payment.py
Due: build-backend

fix: robust KakaoPay approval with detailed error reporting
  backend/app/routers/payment.py
Due: build-backend

fix: localstorage 초기화
  ai/edge/cart_agent.py
  frontend/cart/src/stores/cart.js
Due: build-ai, build-frontend

fix: enforce use of BASE_URL from settings to resolve localhost redirect issue
  backend/app/routers/payment.py
Due: build-backend

fix: GitLab variables BASE_URL 추가
  .gitlab-ci.yml
Due: none

feat: improve payment popup UI and result screen design
  backend/app/routers/payment.py
  frontend/cart/src/components/CheckoutBar.vue
Due: build-backend, build-frontend

fix: standardize popup window call to avoid CORS issues with KakaoPay assets
  frontend/cart/src/components/CheckoutBar.vue
Due: build-frontend

fix: improve ledger amount consistency and add debugging logs for payment mismatches
  backend/app/routers/ledger.py
Due: build-backend

fix: 모바일 앱 디버깅
  frontend/mobile-app/lib/core/router/app_router.dart
  frontend/mobile-app/lib/features/account/presentation/account_providers.dart
  frontend/mobile-app/lib/features/account/presentation/my_page_screen.dart
  frontend/mobile-app/lib/features/account/repository/http_account_repository.dart
  frontend/mobile-app/lib/features/cart/presentation/qr_scanner_screen.dart
  frontend/mobile-app/lib/features/home/presentation/home_dashboard_screen.dart
  frontend/mobile-app/lib/features/payment/presentation/digital_receipt_screen.dart
  frontend/mobile-app/lib/features/payment/presentation/payment_methods_screen.dart
  frontend/mobile-app/lib/features/product/presentation/product_search_screen.dart
Due: build-frontend

Revert "fix: improve ledger amount consistency and add debugging logs for payment mismatches"
  backend/app/routers/ledger.py
Due: build-backend

fix: 모바일 앱 디버깅
  frontend/mobile-app/lib/features/account/repository/http_account_repository.dart
  frontend/mobile-app/lib/features/payment/presentation/digital_receipt_screen.dart
  frontend/mobile-app/lib/features/payment/repository/payment_repository_impl.dart
Due: build-frontend

test: 장바구니 업데이트 속도 최적화 - axios 요청 타임아웃 설정
  frontend/cart/.env.prod
  frontend/cart/src/api/axios.js
  frontend/cart/src/views/DashboardView.vue
  project_code_summary.txt
Due: build-frontend

fix: 다크모드 UI 개선
  frontend/mobile-app/lib/features/account/presentation/my_page_screen.dart
  frontend/mobile-app/lib/features/account/presentation/spending_breakdown_screen.dart
  frontend/mobile-app/lib/features/account/presentation/spending_overview_screen.dart
  frontend/mobile-app/lib/features/account/presentation/top_items_screen.dart
Due: build-frontend

fix: QR 스캐너 UI 수정
  frontend/mobile-app/lib/features/cart/presentation/qr_scanner_screen.dart
Due: build-frontend

docs: Hwdocs.md 최종 수정
  HWdocs.md
Due: none

feat: 장바구니 전체 맥락 기반 AI 레시피 추천 기능 구현 및 데이터 고도화
  ai/embedding/generate_embeddings.py
  ai/embedding/test_recommendation.py
  backend/app/routers/recommendation.py
  dummy_data_full.sql
  frontend/mobile-app/lib/features/auth/repository/mock_auth_repository.dart
  frontend/mobile-app/lib/features/cart/repository/mock_cart_repository.dart
  frontend/mobile-app/lib/features/home/repository/mock_home_repository.dart
  frontend/mobile-app/lib/features/payment/repository/mock_payment_repository.dart
  frontend/mobile-app/lib/features/recipe/presentation/recipe_providers.dart
  frontend/mobile-app/lib/features/recipe/repository/http_recipe_repository.dart
  frontend/mobile-app/lib/features/recipe/repository/recipe_repository.dart
Due: build-backend, build-ai, build-frontend

docs: README.md 파일 수정
  README.md
  assets/accounting.jpg
  assets/app_logo.png
  assets/banner.png
  assets/image (2).png
  assets/mobile_ui.jpg
  assets/product_search.jpg
  assets/receipt.jpg
  assets/recent_spending.jpg
  assets/web_kiosk.png
  assets/스크린샷 2026-02-06 141843.png
  assets/스크린샷 2026-02-06 141905.png
Due: none

docs: README.md 파일 수정
  README.md
  assets/hardware_3d.png
  assets/hardware_3d_2.png
  assets/hardware_real.png
  assets/hardware_real2.png
  assets/hardware_real_3.png
  assets/image (2).png
  assets/mobile_ui.png
  assets/payment_flow.png
  assets/product_search.png
  assets/receipt.png
  assets/recent_spending.png
Due: none

feat(recommendation): 고도화된 AI 추천 점수 계산 및 상품 데이터 복구
  backend/app/routers/recommendation.py
  dummy_data_full.sql
Due: build-backend

docs: README.md 파일 수정
  README.md
  assets/accounting.png
  assets/hardware_real_2.png
  assets/recent_spend.png
  assets/team/hangyeol.png
  assets/team/jeonghui.png
  assets/team/jooyeon.png
  assets/team/junseo.png
  assets/team/junsoo.png
  assets/team/sumyeong.png
Due: none

docs: README.md 파일 수정
  README.md
Due: none

feat(ai): 임베딩 초기화 스크립트 추가 및 데이터 정합성 확보
  ai/embedding/reset_embeddings.py
Due: build-ai

docs: README.md 파일 수정
  README.md
  frontend/README.md
Due: build-frontend

docs: README.md 파일 수정
  assets/object_detection.png
Due: none

debug(recommendation): 추천 로직 분석을 위한 상세 로그 추가 및 데이터 정합성 보완
  backend/app/routers/recommendation.py
  dummy_data_full.sql
Due: build-backend
