Repository AI-smart-cart-PICKLE/AI-smart-cart-PICKLE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-ai, build-airflow

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_BACKEND: "$DOCKER_USERNAME/smart-cart-backend:latest"
  IMAGE_AI: "$DOCKER_USERNAME/smart-cart-ai:latest"
  IMAGE_AIRFLOW: "$DOCKER_USERNAME/smart-cart-airflow:latest"
  DOCKER_BUILDKIT: 1

# services: docker:dind 제거 (Host Docker Socket 사용)

# =========================================================
# 1. Backend Build Job
# =========================================================
build-backend:
  stage: build
  image: docker:24.0.5
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building Backend using Host Cache..."
    # DooD는 호스트의 이미지를 그대로 보므로 --cache-from 명시 안 해도 캐시가 있으면 씀
    # 확실히 하기 위해 기존 로직 유지하되, pull은 필요 없음 (호스트에 있으면 됨)
    - >
      docker build 
      --build-arg BUILDKIT_INLINE_CACHE=1 
      -t $IMAGE_BACKEND ./backend
    - docker push $IMAGE_BACKEND
  rules:
    - changes:
        - backend/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 2. AI (Inference) Build Job
# =========================================================
build-ai:
  stage: build
  image: docker:24.0.5
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building AI using Host Cache..."
    - >
      docker build 
      --build-arg BUILDKIT_INLINE_CACHE=1 
      -t $IMAGE_AI ./ai
    - docker push $IMAGE_AI
  rules:
    - changes:
        - ai/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 3. MLOps (Airflow) Build Job
# =========================================================
build-airflow:
  stage: build
  image: docker:24.0.5
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building Airflow using Host Cache..."
    - >
      docker build 
      --build-arg BUILDKIT_INLINE_CACHE=1 
      -f mlops/airflow/Dockerfile 
      -t $IMAGE_AIRFLOW ./mlops
    - docker push $IMAGE_AIRFLOW
  rules:
    - changes:
        - mlops/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 4. Deploy (EC2)
# =========================================================
deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Creating full directory structure on EC2..."
    - >
      ssh $EC2_USER@$EC2_HOST "mkdir -p ~/workspaces/S14P11A202/backend 
      ~/workspaces/S14P11A202/ai 
      ~/workspaces/S14P11A202/mlops/airflow"
    
    - echo "Uploading docker-compose.yml..."
    - scp docker-compose.yml $EC2_USER@$EC2_HOST:~/workspaces/S14P11A202/

    - echo "Generating .env file on EC2..."
    - |
      ssh $EC2_USER@$EC2_HOST "cat <<EOF > ~/workspaces/S14P11A202/.env
      DOCKER_USERNAME=$DOCKER_USERNAME
      DB_USER=$DB_USER
      DB_PASSWORD=$DB_PASSWORD
      MINIO_ROOT_USER=$MINIO_ROOT_USER
      MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD
      MINIO_BUCKET_NAME=$MINIO_BUCKET_NAME
      KAKAO_ADMIN_KEY=$KAKAO_ADMIN_KEY
      EOF"
    
    - echo "Executing Remote Deployment Commands..."
    - >
      ssh $EC2_USER@$EC2_HOST "
        cd ~/workspaces/S14P11A202 && 
        echo '$DOCKER_PASSWORD' | docker login -u '$DOCKER_USERNAME' --password-stdin &&
        docker compose pull && 
        docker compose up -d --remove-orphans &&
        docker image prune -f
      "
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

feat: 카트 상품 삭제 및 수량 변경
  backend/app/routers/cart.py
  backend/app/schemas.py
Due: build-backend

feat: 상품 목록 조회 API 구현과 Product 응답 스키마 정의
  backend/app/routers/product.py
  backend/app/schemas.py
Due: build-backend

fix: DooD설정 복원
  .gitlab-ci.yml
Due: none

feat:상품 상세 조회 API 구현
  backend/app/routers/product.py
Due: build-backend

feat: 결제 전 카트 무게 검증
  backend/app/routers/cart.py
  backend/app/routers/payment.py
  backend/app/schemas.py
  backend/app/utils/check_data.py
Due: build-backend

상품 검색 API 구현 (pg_trgm 기반 유사도 검색)
  backend/app/routers/product.py
Due: build-backend

feat: 상품 카테고리 기반 위치 안내 API 구현
  backend/app/routers/product.py
Due: build-backend

feat: 카트 세션 취소 기능
  backend/app/routers/cart.py
Due: build-backend

feat: 카카오페이 정기결제(Billing Key) 및 원터치 자동결제 구현
  backend/app/routers/payment.py
  backend/app/schemas.py
Due: build-backend

fix: compose파일 문법 오류 수정
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

fix: CI 환경변수로 SMTP 관련 변수 전달
  .gitlab-ci.yml
Due: none

fix: 환경변수 SSL 인증서 경로 추가
  .gitlab-ci.yml
Due: none

fix: 레시피 미사용 필드 및 닉네임 길이 검증 통일
  backend/app/models.py
  backend/app/schemas.py
Due: build-backend

fix: 운영 서버 환경 설정 중 - CI/CD 환경 변수 최신화 - 백엔드 CORS middleware에서 운영 서버 프론트엔드 URL 추가
  .env.example
  .gitlab-ci.yml
  backend/app/main.py
Due: build-backend

feat: 결제 상품 기반 가계부 카테고리 자동 매핑 기능 추가
  backend/app/routers/ledger.py
Due: build-backend

fix: 배포 시 mlflow 스키마 구조 업그레이드 선행
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

fix: proxy 블록에서 변수 제거하고 URL로 직접 연결
  nginx-ssl-prod.conf
Due: none

fix: 배포 시 nginx conf파일 copy
  .gitlab-ci.yml
Due: none

feat: 서버 실행 시 추론(torch cpu버전) 컨테이너 실행
  .gitlab-ci.yml
Due: none

fix: --build 플래그 제거 - build할 소스코드가 서버에 없으므로 pull -> run만 실행
  .gitlab-ci.yml
Due: none

feat: 카메라 뷰 open/close
  backend/alembic/versions/3fd7de1c788e_add_camera_on_to_cart_session.py
  backend/alembic/versions/5e709302d134_add_camera_view_on_to_cart_session.py
  backend/alembic/versions/e0e8a64d1b86_rename_camera_on_to_camera_view_on.py
  backend/app/core/config.py
  backend/app/models.py
  backend/app/routers/auth.py
  backend/app/routers/cart.py
Due: build-backend

feat : 레시피 추천 시 재료 보유 여부(is_ownend) 포함
  backend/alembic/env.py
  backend/alembic/versions/82d52c882a35_make_zone_code_and_category_id_not_null.py
  backend/app/models.py
  backend/app/routers/recommendation.py
Due: build-backend

feat: 결제 요청 시 무게 검증 및 자동 결제 분기 처리 로직 구현
  backend/app/routers/payment.py
  backend/tests/manual/test_payment_flow.py
Due: build-backend

refactor: DB 마이그레이션 초기화 및 스키마 재정의
  backend/alembic/versions/45a09416681f_add_kakao_provider.py
  backend/alembic/versions/4e8c53bbb5bf_initial_migration.py
  backend/scripts/reset_db.py
Due: build-backend

fix: 설정 파일 경로 안정화 및 유저 스키마 개선
  backend/app/core/config.py
  backend/app/schemas.py
Due: build-backend

feat: 가계부 카테고리 매핑 로직 개선 (키워드 매칭 방식 도입)
  backend/app/routers/ledger.py
Due: build-backend

docs: Swagger UI 테스트를 위한 API 스키마 예제 데이터 추가
  backend/app/schemas.py
Due: build-backend

chore: 시연 및 테스트용 데이터 시딩(Seeding) 스크립트 추가
  backend/scripts/run_sql.py
  backend/scripts/seed_data.sql
Due: build-backend

feat: QR 기반 카트-앱 연동 기능
  backend/alembic/versions/2b87114328d5_add_cart_session_pairing_token.py
  backend/alembic/versions/4977b62bd2e4_remove_cart_session_pairing_fields.py
  backend/app/routers/cart.py
Due: build-backend

refactor: 결제 로직 중복 제거 및 환경변수 중앙화, 추천 스키마 보완
  backend/app/core/config.py
  backend/app/routers/ledger.py
  backend/app/routers/payment.py
  backend/app/schemas.py
  backend/export_project.py
  backend/project_context.txt
Due: build-backend

wip: cart web pairing flow and router guard
  frontend/cart/package-lock.json
  frontend/cart/package.json
  frontend/cart/src/api/axios.js
  frontend/cart/src/components/CartItem.vue
  frontend/cart/src/components/modals/LoginModal.vue
  frontend/cart/src/router/index.js
  frontend/cart/src/stores/auth.js
  frontend/cart/src/stores/cart.js
  frontend/cart/src/views/DashboardView.vue
  frontend/cart/src/views/PairView.vue
Due: none

학습, 실시간 추론 및 서버 전달 api 구현
  ai/inference/make_dummy_data.txt
  ai/inference/serve.py
  ai/training/trainer.py
  backend/app/routers/cart.py
  backend/app/schemas.py
Due: build-backend, build-ai

feat: 폴더명 data에서 repository로 수정
  docker-compose.yml
  frontend/web-kiosk/package-lock.json
Due: build-backend, build-ai, build-airflow

feat: 폴더명 data에서 repository로 변경
  frontend/mobile-app/lib/features/account/repository/account_repository.dart
  frontend/mobile-app/lib/features/account/repository/mock_account_repository.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository.dart
  frontend/mobile-app/lib/features/auth/repository/mock_auth_repository.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository.dart
  frontend/mobile-app/lib/features/cart/repository/mock_cart_repository.dart
  frontend/mobile-app/lib/features/home/repository/home_repository.dart
  frontend/mobile-app/lib/features/home/repository/mock_home_repository.dart
  frontend/mobile-app/lib/features/payment/repository/mock_payment_repository.dart
  frontend/mobile-app/lib/features/payment/repository/payment_repository.dart
  frontend/mobile-app/lib/features/product/repository/mock_product_repository.dart
  frontend/mobile-app/lib/features/product/repository/product_repository.dart
  frontend/mobile-app/lib/features/recipe/repository/mock_recipe_repository.dart
  frontend/mobile-app/lib/features/recipe/repository/recipe_repository.dart
Due: none

feat: 서버에 학습 요청하는 백엔드 API 추가 - 학습은 AI서버에서 일어나나, 요청은 nginx 및 백엔드를 경유하여 가도록 설정 - EC2 환경을 상정하므로 cpu버전 컨테이너 사용
  backend/app/main.py
  backend/app/routers/admin.py
Due: build-backend

feat: 대시보드 담은 상품, 위치 찾기, 추천 레시피 기능
  frontend/cart/src/App.vue
  frontend/cart/src/components/ActionButtons.vue
  frontend/cart/src/components/CartItem.vue
  frontend/cart/src/components/CartPanel.vue
  frontend/cart/src/components/CheckoutBar.vue
  frontend/cart/src/components/RecipeCard.vue
  frontend/cart/src/components/RecommendationCard.vue
  frontend/cart/src/components/RecommendationPanel.vue
  frontend/cart/src/components/TheHeader.vue
  frontend/cart/src/components/ZoneBox.vue
  frontend/cart/src/components/modals/FindProductModal.vue
  frontend/cart/src/components/modals/LocationModal.vue
  frontend/cart/src/components/modals/LoginModal.vue
  frontend/cart/src/components/modals/ManualAddModal.vue
  frontend/cart/src/components/modals/MapModal.vue
  frontend/cart/src/components/modals/RecipeDetailModal.vue
  frontend/cart/src/stores/auth.js
  frontend/cart/src/stores/cart.js
  frontend/cart/src/stores/recommendation.ts
  frontend/cart/src/views/DashboardView.vue
  frontend/cart/src/views/PairView.vue
Due: none

fix: AI 학습 코드 수정 및 MLflow DB 초기화 스크립트 추가
  ai/requirements.txt
  ai/training/train.py
  init_mlflow_db.py
Due: build-ai

chore: docker-compose 설정 수정
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

feat: 상품 추가 기능
  frontend/cart/.vite/deps/_metadata.json
  frontend/cart/.vite/deps/chunk-ZQTFMBLO.js
  frontend/cart/.vite/deps/chunk-ZQTFMBLO.js.map
  frontend/cart/.vite/deps/package.json
  frontend/cart/.vite/deps/pinia.js
  frontend/cart/.vite/deps/pinia.js.map
  frontend/cart/.vite/deps/vue-router.js
  frontend/cart/.vite/deps/vue-router.js.map
  frontend/cart/.vite/deps/vue.js
  frontend/cart/.vite/deps/vue.js.map
  frontend/cart/package-lock.json
  frontend/cart/package.json
  frontend/cart/src/api/axios.js
  frontend/cart/src/components/ActionButtons.vue
  frontend/cart/src/components/modals/CameraModal.vue
  frontend/cart/src/stores/cart.js
Due: none
