Repository AI-smart-cart-PICKLE/AI-smart-cart-PICKLE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-ai, build-airflow

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  # [교정] 쌍따옴표로 감싸서 변수 참조를 확실히 합니다.
  IMAGE_BACKEND: "$DOCKER_USERNAME/smart-cart-backend:latest"
  IMAGE_AI: "$DOCKER_USERNAME/smart-cart-ai:latest"
  IMAGE_AIRFLOW: "$DOCKER_USERNAME/smart-cart-airflow:latest"

services:
  - name: docker:24.0.5-dind
    command: ["--tls=false"]

# 공통 로그인 로직 템플릿
.docker_login_template: &docker_login
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

# =========================================================
# 1. Backend Build Job
# =========================================================
build-backend:
  <<: *docker_login
  stage: build
  image: docker:24.0.5
  variables:
    DOCKER_HOST: tcp://docker:2375
  script:
    - echo "Building Backend..."
    - docker build -t $IMAGE_BACKEND ./backend
    - docker push $IMAGE_BACKEND
  rules:
    - changes:
        - backend/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 2. AI (Inference) Build Job
# =========================================================
build-ai:
  <<: *docker_login
  stage: build
  image: docker:24.0.5
  variables:
    DOCKER_HOST: tcp://docker:2375
  script:
    - echo "Building AI Inference Server..."
    - docker build -t $IMAGE_AI ./ai
    - docker push $IMAGE_AI
  rules:
    - changes:
        - ai/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 3. MLOps (Airflow) Build Job
# =========================================================
build-airflow:
  <<: *docker_login
  stage: build
  image: docker:24.0.5
  variables:
    DOCKER_HOST: tcp://docker:2375
  script:
    - echo "Building Airflow..."
    - docker build -t $IMAGE_AIRFLOW -f mlops/airflow/Dockerfile ./mlops
    - docker push $IMAGE_AIRFLOW
  rules:
    - changes:
        - mlops/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 4. Deploy (EC2)
# =========================================================
deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    # [교정] 한 줄로 깔끔하게 config 작성 (줄바꿈 이슈 원천 차단)
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Deploying to EC2..."
    - scp docker-compose.yml $EC2_USER@$EC2_HOST:~/workspaces/S14P11A202/
    # [팁] Public Repo라면 로그인 불필요, Private라면 아래 login 추가 필요
    - ssh $EC2_USER@$EC2_HOST "cd ~/workspaces/S14P11A202 && docker compose pull && docker compose up -d"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

fix: GitLab CI/CD 디버깅 - DockerHub username, pw 추가
  .gitlab-ci.yml
Due: none

fix: GitLab CI/CD 디버깅 - 빌드 서버 TLS 해제
  .gitlab-ci.yml
Due: none

chore: 가상환경 이름 pickle_xx로 변경
  ai/environment.yaml
  backend/environment.yaml
  mlops/environment.yaml
Due: build-backend, build-ai, build-airflow

deploy: GitLab CI 최적화 - 이미지 빌드 시 캐시 활용
  .gitlab-ci.yml
Due: none

fix: GitLab CI/CD 디버깅 - 공백/개행문자 등 문법 오류 수정
  .gitlab-ci.yml
Due: none

deploy: CD 오류 수정 및 최적화 - 서버에 최상위경로가 없는 경우 자동 생성 - 태그 없는 이미지 및 미사용 컨테이너 prune
  .gitlab-ci.yml
Due: none

deploy: CD 오류 디버깅 - 하위 디렉토리 포함하여 필요한 모든 디렉토리 생성 로직 추가
  .gitlab-ci.yml
Due: none

chore: AI 추론 서버 환경 의존성 업데이트
  ai/environment.yaml
  ai/requirements.txt
Due: build-ai

feat: 카트 웹 대시보드 UI 구현
  frontend/cart/.editorconfig
  frontend/cart/.gitattributes
  frontend/cart/.gitignore
  frontend/cart/.prettierrc.json
  frontend/cart/README.md
  frontend/cart/eslint.config.js
  frontend/cart/index.html
  frontend/cart/jsconfig.json
  frontend/cart/package-lock.json
  frontend/cart/package.json
  frontend/cart/public/favicon.ico
  frontend/cart/src/App.vue
  frontend/cart/src/assets/pickle-logo.png
  frontend/cart/src/components/ActionButtons.vue
  frontend/cart/src/components/CartItem.vue
  frontend/cart/src/components/RecoCard.vue
  frontend/cart/src/components/TheHeader.vue
  frontend/cart/src/components/modals/CameraModal.vue
  frontend/cart/src/components/modals/LocationModal.vue
  frontend/cart/src/components/modals/ManualAddModal.vue
  frontend/cart/src/components/modals/MapModal.vue
  frontend/cart/src/main.js
  frontend/cart/src/router/index.js
  frontend/cart/src/stores/cart.js
  frontend/cart/src/views/DashboardView.vue
  frontend/cart/vite.config.js
Due: none

fix: Airflow 컨테이너 unhealthy issue 해결 - 백엔드 컨테이너 RAM 할당량 12GB -> 6GB 조정 - Airflow start_period 30s -> 120s 조정
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

fix: 백엔드 port 8000노출
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

feat:백엔드 실행 오류 해결 및 데이터베이스 초기 설정
  GEMINI.md
  backend/.env.example
  backend/Dockerfile
  backend/app/__init__.py
  backend/app/database.py
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/cart.py
  backend/app/routers/payment.py
  backend/app/routers/product.py
  backend/app/routers/user.py
  backend/app/schemas.py
  init-db.sh
Due: build-backend

fix: 백엔드 구조
  backend/app/database.py
  backend/app/main.py
  backend/app/models.py
  init-db.sh
Due: build-backend

feat: implement database models and router skeletons based on GEMINI.md
  GEMINI.md
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/cart.py
  backend/app/routers/payment.py
  backend/app/routers/product.py
  backend/app/routers/user.py
  backend/requirements.txt
Due: build-backend

chore: 커밋된 GEMINI.md 삭제, .gitignore에 GEMINI.md 추가
  .gitignore
  GEMINI.md
Due: none

chore: - 로컬 개발 환경에서 DB 접근을 위해 PORT 개방 - Airflow PORT 개방 - jenkins와의 포트 충돌 방지를 위해 MLflow PORT 변경
  backend/app/database.py
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

feat: 결제 기능 추가 및 스키마 수정
  GEMINI.md
  README.md
  backend/app/init_db.py
  backend/app/main.py
  backend/app/routers/ledger.py
  backend/app/routers/payment.py
  backend/app/schemas.py
Due: build-backend

fix:서버 환경 수정
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/ledger.py
Due: build-backend

추천 api테스트
  backend/app/routers/cart.py
  backend/app/seed_data.py
Due: build-backend

feat:데이터 조회 스크립트
  backend/app/check_data.py
Due: build-backend

fix: 라이브러리 환경 설정
  backend/environment.yaml
  backend/requirements.txt
Due: build-backend

fix: 데이터 안심겨지는 문제 해결-> 환경변수 로딩 문제 해결
  backend/app/seed_data.py
Due: build-backend

fix: conflict merge
  ai/inference/main.py
  ai/requirements.txt
  backend/app/main.py
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

chore: inference 구조 정리 및 gitignore 규칙 추가
  .gitignore
  ai/inference/main.py
  ai/inference/tests/run_once.py
Due: build-ai

fix: conflict merge
  backend/app/main.py
  backend/app/seed_data.py
  backend/environment.yaml
  backend/requirements.txt
Due: build-backend

feat: mlops 파이프라인 테스트 - 모델 파일, 평가 지표 파일 모두 더미로 생성 - MLflow, Airflow 간 통신 상태 점검 - .env.example 추가
  .env.example
  mlops/airflow/dags/pipeline_test.py
  mlops/airflow/dags/scripts/mock_train.py
Due: build-airflow

deploy: GitLab CI/CD 설정 변경 - 운영 서버에서 compose 시 CI서버에서 build-push한 image를 pull하여 실행하도록 설정 - 운영용 DB, MinIO ID,PW와 DockerHub username 환경 변수 주입
  .gitlab-ci.yml
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

fix: GitLab CI/CD - compose 시 db init 파일 실행 안 되는 버그 발생 - db init 스크립트 파일 EC2 업로드되도록 설정 변경
  .gitlab-ci.yml
Due: none

feat: docker compose 설정 파일 수정 - MinIO PORT 2개 오픈(관리자용, API 통신용) - MinIO init 컨테이너 추가 - Airflow PORT 오픈 - 추론 컨테이너에 data 저장용 volume 추가 - backend 헬스체크 추가
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

fix: 카카오간편결제 구현
  backend/app/routers/payment.py
Due: build-backend

feat: 결제 취소, 상세 조회 스키마 설정
  backend/app/schemas.py
Due: build-backend

feat: JWT 기반 회원가입 및 로그인 구현
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/routers/user.py
  backend/app/schemas.py
  backend/app/utils/jwt.py
  backend/app/utils/security.py
  backend/requirements.txt
Due: build-backend

docs: HW md 파일 생성
  HWdocs.md
Due: none

feat: 가계부 항목에 메모 필드 추가
  backend/app/models.py
  backend/app/schemas.py
Due: build-backend

feat: 가계부 목록 조회 API 기본 구현
  backend/app/routers/ledger.py
Due: build-backend

chore: 회원가입 인증 관련 패키지 추가
  backend/requirements.txt
Due: build-backend

chore: AI inference 테스트 디렉토리 gitignore 추가
  .gitignore
Due: none

feat: 가계부 API 기본 응답 정리
  backend/app/routers/ledger.py
Due: build-backend

deploy: 배포 서버용 설정 추가 - 배포 서버에서 사용할 nginx conf파일 작성 - nginx 컨테이너 443 PORT 개방 및 인증서 경로 마운트
  docker-compose.yml
  nginx-ssl-prod.conf
Due: build-backend, build-ai, build-airflow

feat: 결제 기능 추가(조회,취소)
  backend/app/models.py
  backend/app/routers/payment.py
Due: build-backend
