Repository AI-smart-cart-PICKLE/AI-smart-cart-PICKLE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-ai, build-airflow

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_BACKEND: "$DOCKER_USERNAME/smart-cart-backend:latest"
  IMAGE_AI: "$DOCKER_USERNAME/smart-cart-ai:latest"
  IMAGE_AIRFLOW: "$DOCKER_USERNAME/smart-cart-airflow:latest"
  DOCKER_BUILDKIT: 1

# services: docker:dind 제거 (Host Docker Socket 사용)

# =========================================================
# 1. Backend Build Job
# =========================================================
build-backend:
  stage: build
  image: docker:24.0.5
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building Backend using Host Cache..."
    # DooD는 호스트의 이미지를 그대로 보므로 --cache-from 명시 안 해도 캐시가 있으면 씀
    # 확실히 하기 위해 기존 로직 유지하되, pull은 필요 없음 (호스트에 있으면 됨)
    - >
      docker build 
      --build-arg BUILDKIT_INLINE_CACHE=1 
      -t $IMAGE_BACKEND ./backend
    - docker push $IMAGE_BACKEND
  rules:
    - changes:
        - backend/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 2. AI (Inference) Build Job
# =========================================================
build-ai:
  stage: build
  image: docker:24.0.5
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building AI using Host Cache..."
    - >
      docker build 
      --build-arg BUILDKIT_INLINE_CACHE=1 
      -t $IMAGE_AI ./ai
    - docker push $IMAGE_AI
  rules:
    - changes:
        - ai/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 3. MLOps (Airflow) Build Job
# =========================================================
build-airflow:
  stage: build
  image: docker:24.0.5
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building Airflow using Host Cache..."
    - >
      docker build 
      --build-arg BUILDKIT_INLINE_CACHE=1 
      -f mlops/airflow/Dockerfile 
      -t $IMAGE_AIRFLOW ./mlops
    - docker push $IMAGE_AIRFLOW
  rules:
    - changes:
        - mlops/**/*
        - docker-compose.yml
      when: always

# =========================================================
# 4. Deploy (EC2)
# =========================================================
deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Creating full directory structure on EC2..."
    - >
      ssh $EC2_USER@$EC2_HOST "mkdir -p ~/workspaces/S14P11A202/backend 
      ~/workspaces/S14P11A202/ai 
      ~/workspaces/S14P11A202/mlops/airflow"
    
    - echo "Uploading docker-compose.yml..."
    - scp docker-compose.yml $EC2_USER@$EC2_HOST:~/workspaces/S14P11A202/

    - echo "Generating .env file on EC2..."
    - |
      ssh $EC2_USER@$EC2_HOST "cat <<EOF > ~/workspaces/S14P11A202/.env
      DOCKER_USERNAME=$DOCKER_USERNAME
      DB_USER=$DB_USER
      DB_PASSWORD=$DB_PASSWORD
      MINIO_ROOT_USER=$MINIO_ROOT_USER
      MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD
      MINIO_BUCKET_NAME=$MINIO_BUCKET_NAME
      KAKAO_ADMIN_KEY=$KAKAO_ADMIN_KEY
      EOF"
    
    - echo "Executing Remote Deployment Commands..."
    - >
      ssh $EC2_USER@$EC2_HOST "
        cd ~/workspaces/S14P11A202 && 
        echo '$DOCKER_PASSWORD' | docker login -u '$DOCKER_USERNAME' --password-stdin &&
        docker compose pull && 
        docker compose up -d --remove-orphans &&
        docker image prune -f
      "
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

feat: 카메라 바코드 기반 상품 추가 연동
  frontend/package-lock.json
Due: none

fix: 프론트 수정
  frontend/mobile-app/android/app/src/main/AndroidManifest.xml
  frontend/mobile-app/lib/core/network/dio_client.dart
  frontend/mobile-app/lib/core/network/dio_provider.dart
  frontend/mobile-app/lib/domain/models/cart.dart
  frontend/mobile-app/lib/domain/models/product.dart
  frontend/mobile-app/lib/domain/models/recipe.dart
  frontend/mobile-app/lib/domain/models/user.dart
  frontend/mobile-app/lib/features/account/presentation/account_providers.dart
  frontend/mobile-app/lib/features/account/presentation/change_nickname_screen.dart
  frontend/mobile-app/lib/features/account/presentation/change_password_screen.dart
  frontend/mobile-app/lib/features/auth/presentation/auth_providers.dart
  frontend/mobile-app/lib/features/auth/presentation/login_screen.dart
  frontend/mobile-app/lib/features/auth/presentation/signup_screen.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository_impl.dart
  frontend/mobile-app/lib/features/cart/presentation/cart_providers.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository_impl.dart
  frontend/mobile-app/lib/features/payment/presentation/add_new_card_screen.dart
  frontend/mobile-app/lib/features/payment/presentation/kakao_pay_checkout_screen.dart
  frontend/mobile-app/lib/features/payment/presentation/payment_providers.dart
  frontend/mobile-app/lib/features/product/presentation/product_providers.dart
  frontend/mobile-app/lib/features/recipe/presentation/recipe_providers.dart
  frontend/mobile-app/pubspec.lock
  frontend/mobile-app/pubspec.yaml
Due: none

fix: nginx 라우팅, rewrite규칙, 백엔드 prefix 및 api url 규칙 연동 및 통합
  backend/app/routers/admin.py
  backend/app/routers/cart.py
  backend/app/routers/ledger.py
  backend/app/routers/payment.py
  backend/app/routers/product.py
  backend/app/routers/recommendation.py
  backend/app/routers/user.py
  nginx-ssl-prod.conf
Due: build-backend

feat: 카트 세션 종료 기능
  frontend/cart/src/components/CartPanel.vue
  frontend/cart/src/stores/cart.js
Due: none

fix: 로그인 연동
  frontend/mobile-app/lib/features/auth/repository/auth_repository_impl.dart
Due: none

fix: AI 학습 파이프라인 개선 및 모델 전환 기능 추가
  ai/inference/main.py
  ai/training/train.py
  ai/training/trainer.py
  backend/app/routers/admin.py
Due: build-backend, build-ai

fix: 로그인 및 카트 세션 연동 오류 수정
  frontend/cart/src/App.vue
  frontend/cart/src/api/axios.js
  frontend/cart/src/components/TheHeader.vue
  frontend/cart/src/components/modals/LoginModal.vue
  frontend/cart/src/router/index.js
  frontend/cart/src/stores/auth.js
  frontend/cart/src/stores/cart.js
  frontend/cart/src/stores/ui.js
Due: none

feat: 세션 종료 후 재시작 화면 추가 및 세션 상태 동기화 개선
  frontend/cart/src/components/WelcomePanel.vue
  frontend/cart/src/stores/cart.js
  frontend/cart/src/views/DashboardView.vue
Due: none

feat: 결제 바 액션 버튼 하단으로 이동
  frontend/cart/src/components/ActionButtons.vue
  frontend/cart/src/components/CheckoutBar.vue
  frontend/cart/src/components/RecipeCard.vue
  frontend/cart/src/components/RecommendationPanel.vue
  frontend/cart/src/views/DashboardView.vue
Due: none

fix: 결제 API 엔드포인트 수정 및 결제 확인 모달 추가
  frontend/cart/src/components/CheckoutBar.vue
  frontend/cart/src/components/modals/CheckoutModal.vue
  frontend/cart/src/stores/cart.js
Due: none

fix: nginx, vite, backend 라우팅 설정 통일 - 백엔드 전체 API 테스트하는 테스트 코드 포함
  backend/alembic/versions/3fd7de1c788e_add_camera_on_to_cart_session.py
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/recipe.py
  backend/app/routers/user.py
  backend/scripts/seed_data.sql
  backend/tests/manual/smoke_test_full.py
  frontend/cart/src/api/axios.js
  frontend/cart/src/stores/recommendation.js
  frontend/cart/vite.config.js
Due: build-backend

merge: barcode 백엔드 api 병합 - 라우팅 규칙 고려하여 코드블록만 따로 병합 - test 모듈에 해당 api 추가
  backend/app/routers/admin.py
  backend/app/routers/product.py
  backend/tests/manual/smoke_test_full.py
Due: build-backend

feat:렌딩 페이지 수정 및 로그인 오류 해결
  frontend/README.md
  frontend/mobile-app/.gitignore
  frontend/mobile-app/.gitkeep
  frontend/mobile-app/lib/core/network/dio_provider.dart
  frontend/mobile-app/lib/core/storage/token_storage.dart
  frontend/mobile-app/lib/features/auth/presentation/auth_providers.dart
  frontend/mobile-app/lib/features/auth/presentation/signup_screen.dart
  frontend/mobile-app/lib/features/auth/presentation/splash_screen.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository_impl.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository_impl.dart
  frontend/mobile-app/lib/main.dart
  frontend/mobile-app/linux/flutter/generated_plugin_registrant.cc
  frontend/mobile-app/linux/flutter/generated_plugins.cmake
  frontend/mobile-app/pubspec.lock
  frontend/mobile-app/pubspec.yaml
  frontend/mobile-app/windows/flutter/generated_plugin_registrant.cc
  frontend/mobile-app/windows/flutter/generated_plugins.cmake
  frontend/nginx/conf.d/.gitkeep
  frontend/nginx/conf.d/default.conf
Due: none

feat: edge서버 serve코드 별도 디렉토리로 분리 - 미사용 소스 코드 삭제 - 서버 환경에서 inference cpu버전 컨테이너 사용하도록 compose 및 환경 변수 정리
  ai/edge/Dockerfile
  ai/edge/cart_agent.py
  ai/inference/realtime_yolov8s.py
  ai/training/trainer.py
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

fix: 학습 시 파라미터 값 적용되지 않는 버그 수정
  ai/training/train.py
  backend/app/routers/admin.py
  backend/tests/manual/smoke_test_full.py
Due: build-backend, build-ai

chore: 프론트엔드 의존성 재설치
  frontend/cart/package-lock.json
Due: none

fix: 라우팅 설정
  frontend/cart/src/api/axios.js
  frontend/cart/src/components/modals/CameraModal.vue
  frontend/cart/src/components/modals/LocationModal.vue
  frontend/cart/src/stores/auth.js
  frontend/cart/src/stores/cart.js
  frontend/cart/src/stores/recommendation.js
Due: none

fix: 로그인, 회원가입 페이지 UI 수정
  frontend/mobile-app/lib/core/router/app_router.dart
  frontend/mobile-app/lib/features/auth/presentation/login_screen.dart
  frontend/mobile-app/lib/features/auth/presentation/signup_screen.dart
  frontend/mobile-app/lib/features/product/presentation/product_search_screen.dart
  frontend/mobile-app/test/login_screen_test.dart
Due: none

feat:프론트 백엔드 연동
  GEMINI.md
  backend/api_specification.csv
  backend/app/main.py
  backend/app/routers/cart.py
  backend/app/routers/ledger.py
  backend/app/routers/payment.py
  backend/app/routers/product.py
  backend/app/routers/recipe.py
  backend/app/routers/recommendation.py
  backend/app/routers/user.py
  backend/app/schemas.py
  backend/tests/manual/verify_auth_flow.py
  frontend/mobile-app/lib/core/network/dio_provider.dart
  frontend/mobile-app/lib/domain/models/cart.dart
  frontend/mobile-app/lib/domain/models/payment.dart
  frontend/mobile-app/lib/features/account/presentation/account_providers.dart
  frontend/mobile-app/lib/features/account/repository/http_account_repository.dart
  frontend/mobile-app/lib/features/account/repository/mock_account_repository.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository_impl.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository_impl.dart
  frontend/mobile-app/lib/features/cart/repository/mock_cart_repository.dart
  frontend/mobile-app/lib/features/home/presentation/home_dashboard_screen.dart
  frontend/mobile-app/lib/features/payment/presentation/kakao_pay_checkout_screen.dart
  frontend/mobile-app/lib/features/payment/presentation/payment_providers.dart
  frontend/mobile-app/lib/features/payment/repository/mock_payment_repository.dart
  frontend/mobile-app/lib/features/payment/repository/payment_repository.dart
  frontend/mobile-app/lib/features/payment/repository/payment_repository_impl.dart
  frontend/mobile-app/lib/features/product/presentation/product_providers.dart
  frontend/mobile-app/lib/features/product/repository/http_product_repository.dart
  frontend/mobile-app/lib/features/product/repository/mock_product_repository.dart
  frontend/mobile-app/lib/features/recipe/presentation/recipe_providers.dart
  frontend/mobile-app/lib/features/recipe/repository/http_recipe_repository.dart
  frontend/mobile-app/lib/features/recipe/repository/mock_recipe_repository.dart
  frontend/mobile-app/lib/features/recipe/repository/recipe_repository.dart
  frontend/mobile-app/pubspec.lock
  frontend/mobile-app/pubspec.yaml
Due: build-backend

merge: conflict resolve
  .gitlab-ci.yml
  ai/edge/Dockerfile
  frontend/cart/package-lock.json
  frontend/cart/vite.config.js
Due: build-ai

chore: 프론트엔드 환경 변수 파일 추가
  frontend/cart/.env.dev
  frontend/cart/.env.example
Due: none

fix: api객체 사용하지 않는 코드 수정
  frontend/cart/src/api/axios.js
Due: none

fix: 프론트 CD 실패 디버깅
  .gitlab-ci.yml
Due: none

fix: 프론트엔드 cd 디버깅 - artifact 추가하여 빌드 결과물 저장
  .gitlab-ci.yml
Due: none

fix: 웹 디자인 색 변경
  frontend/cart/src/components/ActionButtons.vue
  frontend/cart/src/components/CartItem.vue
  frontend/cart/src/components/CheckoutBar.vue
  frontend/cart/src/components/RecipeCard.vue
  frontend/cart/src/components/TheHeader.vue
  frontend/cart/src/components/modals/CheckoutModal.vue
  frontend/cart/src/components/modals/RecipeDetailModal.vue
Due: none

fix: conflict resolve 중 소실된 코드 수정사항 복원
  backend/app/schemas.py
Due: build-backend

fix: CD 중 권한 문제 해결을 위해 빌드 시 디렉토리 재생성
  .gitlab-ci.yml
Due: none

fix: CD 실행 시 nginx restart 강제하여 설정파일 적용 - frontend 빌드 트리거용 더미 수정사항 포함
  .gitlab-ci.yml
  frontend/cart/src/api/axios.js
Due: none

fix: edge 기기용 이미지 구성 수정 - base image 수정 - python 3으로 실행하여 f-string 에러 제거 - 코드에서 주석 제거하여 실행 안정성 확보 - build는 엣지 기기에서 직접 수행
  ai/edge/Dockerfile
  ai/edge/cart_agent.py
Due: build-ai

fix: 마이페이지, 가계부 연동
  GEMINI.md
  backend/app/main.py
  backend/app/routers/payment.py
  backend/app/routers/product.py
  backend/app/routers/recipe.py
  backend/app/schemas.py
  docker-compose.yml
  frontend/mobile-app/lib/core/network/dio_client.dart
  frontend/mobile-app/lib/features/account/presentation/my_page_screen.dart
  frontend/mobile-app/lib/features/account/presentation/spending_overview_screen.dart
  frontend/mobile-app/lib/features/account/repository/account_repository.dart
  frontend/mobile-app/lib/features/account/repository/http_account_repository.dart
  frontend/mobile-app/lib/features/auth/presentation/login_screen.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository_impl.dart
Due: build-backend, build-ai, build-airflow

fix: 모바일 애뮬레이터 환경 구축, 지출 분석 부분 연동
  backend/app/routers/cart.py
  frontend/cart/src/stores/cart.js
  frontend/mobile-app/android/app/src/main/AndroidManifest.xml
  frontend/mobile-app/lib/core/network/dio_provider.dart
  frontend/mobile-app/lib/domain/models/cart.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository_impl.dart
  frontend/mobile-app/lib/features/home/presentation/home_dashboard_screen.dart
Due: build-backend

fix: 상품 검색 기능 db백앤ë  ã연동
  backend/app/routers/product.py
  frontend/mobile-app/lib/domain/models/product.dart
  frontend/mobile-app/lib/domain/models/product_category.dart
  frontend/mobile-app/lib/features/product/presentation/product_detail_screen.dart
  frontend/mobile-app/lib/features/product/presentation/product_providers.dart
  frontend/mobile-app/lib/features/product/presentation/product_search_screen.dart
  frontend/mobile-app/lib/features/product/repository/http_product_repository.dart
  frontend/mobile-app/lib/features/product/repository/product_repository.dart
Due: build-backend

feat: cd 시 alembic migration 자동화
  .gitlab-ci.yml
Due: none

fix: cd 시 command 문법 오류 수정
  .gitlab-ci.yml
Due: none

feat: 실시간 추론 FPS 계산 로직 추가
  ai/edge/cart_agent.py
  ai/inference/main.py
Due: build-ai

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

feat: confidence 낮은 객체 포함된 이미지 s3로 업로드
  ai/edge/cart_agent.py
  docker-compose.yml
Due: build-backend, build-ai, build-airflow

로컬 호스트에서 EC2 서버로 변경
  backend/app/main.py
  backend/app/routers/payment.py
  backend/app/routers/product.py
  frontend/mobile-app/lib/core/network/dio_client.dart
  frontend/mobile-app/lib/core/network/dio_provider.dart
  frontend/mobile-app/lib/features/account/presentation/my_page_screen.dart
  frontend/mobile-app/lib/features/account/repository/http_account_repository.dart
  frontend/mobile-app/lib/features/auth/repository/auth_repository_impl.dart
  frontend/mobile-app/lib/features/cart/repository/cart_repository_impl.dart
  frontend/mobile-app/lib/features/payment/presentation/kakao_pay_settings_screen.dart
  frontend/mobile-app/lib/features/payment/repository/payment_repository_impl.dart
  frontend/mobile-app/lib/features/product/repository/http_product_repository.dart
  frontend/mobile-app/lib/shared/widgets/primary_button.dart
Due: build-backend

merge: confilict resolved
  ai/edge/cart_agent.py
  nginx-ssl-prod.conf
Due: build-ai
